{% extends "::layout.html.twig" %}
{% block title %}
	Challenge - {{ parent() }}
{% endblock %}	
{% block body %}
<div style="margin-top:30px"></div>
<div class="row">
{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash_message }}
        <a href="{{ path('remove_don', {'id_don' : app.session.get('don_id')}) }}">Annuler le don</a>
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ flash_message }}
        </div>	
    </div>
{% endfor %}
{% for collecteur in collecteurs %}
  <div class="col-xs-2 show" id="{{collecteur.id}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="thumbnail">
      {% if (collecteur.image) %}
        <img src="{{ asset(collecteur.image.webPath) }}" class="img-cirle img-thumbnail img-responsive" alt="{{ collecteur.nom }} {{ collecteur.prenom }}"
          style="height: 85px;">
      {% else %}
        <img src="{{ asset('img/avatar.jpg') }}" alt="default" class="img-responsive"  style="height: 85px;">
      {% endif %}
      <div class="caption text-center">
        <h5>{{ collecteur.nom }} <small>{{ collecteur.prenom }}</small></h5>
        <p>
			{{form_start(forms[loop.index0])}}
			{{ form_row(forms[loop.index0].montant) }}
			{{ form_row(forms[loop.index0].collecteur,{'attr': {'value': collecteur.id}}) }}
		  	{{ form_widget(forms[loop.index0].Visa, {'attr': {'class': 'btn btn-primary'}}) }}
		  	{{ form_widget(forms[loop.index0].Cash, {'attr': {'class': 'btn btn-default'}}) }}
		   	{{ form_end(forms[loop.index0]) }}
        </p>
      </div>
    </div>
    {% if super > -1 %}
      {% if (donsParCollecteur[collecteur.id-1] is defined ) %}
        {% if donsParCollecteur[collecteur.id-1] == super %}
          <span class="notification green">{{ donsParCollecteur[collecteur.id-1] }}</span>
        {% elseif donsParCollecteur[collecteur.id-1] == faible %}
          <span class="notification red">{{ donsParCollecteur[collecteur.id-1] }}</span>
        {% else %}
          <span class="notification blue">{{ donsParCollecteur[collecteur.id-1] }}</span>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock %}