{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Modifier un événement</h1>
    <div class="col-md-6 col-md-offset-3">


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <a href="{{ path('evenement_index') }}" class="btn btn-warning">Revenir à la liste</a>
        <input type="submit" value="Modifier" class="btn btn-success"/>
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger pull-right">
    {{ form_end(delete_form) }}
</div>
</div>
<hr>
{% endblock %}
