{% extends 'layout.html.twig' %}

{% block body %}
   <div class="container">
        <div class="col-md-6 col-md-offset-3">
    <h1>Evenement</h1>

    <table class="table table-condensed table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ evenement.nom }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{% if evenement.debut %}{{ evenement.debut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{% if evenement.fin %}{{ evenement.fin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Totaldonateurs</th>
                <td>{{ evenement.totalDonateurs }}</td>
            </tr>
            <tr>
                <th>Totaldons</th>
                <td>{{ evenement.totalDons }}</td>
            </tr>
            <tr>
                <th>Totalcash</th>
                <td>{{ evenement.totalCash }}</td>
            </tr>
            <tr>
                <th>Totalcb</th>
                <td>{{ evenement.totalCb }}</td>
            </tr>
            <tr>
                <th>Totalchq</th>
                <td>{{ evenement.totalChq }}</td>
            </tr>
            <tr>
                <th>Donmax</th>
                <td>{{ evenement.donMax }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('evenement_index') }}" class="btn btn-warning">Revenir à la liste</a>
            <a href="{{ path('evenement_edit', { 'id': evenement.id }) }}" class="btn btn-info">Modifier</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger pull-right">
            {{ form_end(delete_form) }}
    </div>
    </div>
{% endblock %}
